name: Build

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"   # safer than 3.13 for PySide6

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller pyinstaller-hooks-contrib

      - name: Build executable
        run: |
          python -m PyInstaller racist.spec --clean

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/racist.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
